.app.dark {
    --bg-color: #6c6cc5;
    --inverted-bg-color: #cdcdcd;

    --primary-color: #f0f0f0;
    --secondary-color: #db891c;

    --inverted-primary-color: #e55959;
    --inverted-secondary-color: #1c65db;
}