.app.light {
    --bg-color: #cdcdcd;
    --inverted-bg-color: #6c6cc5;
    --primary-color: #e55959;
    --secondary-color: #1c65db;
    --inverted-primary-color: #f0f0f0;
    --inverted-secondary-color: #db891c;
}
